{% extends 'base.html' %}
{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
<h1 style="color:red" class="text-center">WORK IN PROGRESS</h1>
    <div class="container">
          <h1 class="display-4 text-center">Model Neurons!</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="card">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#weight" role="tab" aria-controls="profile" aria-selected="false">Model Weight</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="weight" role="tabpanel" aria-labelledby="profile-tab">
                              {% include "neurons/model_weights.html" %}
                          </div>
                    </div>

                  </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
