{% extends 'base.html' %}
{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->

    <div class="container-fluid">
          <h1 class="display-4 text-center">Model Neurons!</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="card">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#neurons" role="tab" aria-controls="home" aria-selected="true">Input Neurons</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="neurons" role="tabpanel" aria-labelledby="home-tab">
                              {% include "neurons/neurons_visualizer.html" %}
                          </div>
                    </div>

                  </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
