<h5 class="card-title text-center">Model Neurons Visualizer</h5>
<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="model">Model File</label>
                <input type="file" name="model_weight_file" class="form-control-file" id="model">
                <small class="form-text text-muted">Select the Keras Model file to show the neurons.File format (.H5)</small>
              </div>
        </div>
        <div class="col-md-1" style="margin-top: auto;margin-bottom: auto;"><strong>OR</strong></div>
        <div class="col-md-5">
          <div class="form-group">
              <strong>Trained Models</strong>
              <select class="form-control" name="trainedModelWeight">
                {% for models in trained_models %}
                    <option value="{{ models }}">{{ models.file }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
    </div>
      <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <strong>Input Image</strong>
                    <input type="file" name="input_img" class="form-control-file" id="ipImg" required>
                    <small class="form-text text-muted">Select the input image to show the neurons.</small>
                  </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-6">
        </div>
          <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Process Weight</button>
          </div>
      </div>
  </div>
</div>
